amcl:
  ros__parameters:
    use_sim_time: True

map_server:
  ros__parameters:
    use_sim_time: True

planner_server:
  ros__parameters:
    expected_planner_frequency: 5.0
    use_sim_time: True

controller_server:
  ros__parameters:
    use_sim_time: True

bt_navigator:
  ros__parameters:
    use_sim_time: True

waypoint_follower:
  ros__parameters:
    use_sim_time: True

local_costmap:
  ros__parameters:
    use_sim_time: True
    scan_topic: /scan
    publish_frequency: 5.0
    update_frequency: 5.0
    rolling_window: true
    resolution: 0.05
    robot_radius: 0.2

global_costmap:
  ros__parameters:
    use_sim_time: True
    scan_topic: /scan
    resolution: 0.05
    robot_radius: 0.2
